<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
{{#editRestaurant}}
<form action="/edit-restaurant" method="post">
    <input type="text" name="restaurantName" value="{{name}}"/>
    Your current selected is {{menuType}}
    <select name="menuType">
        <option selected disabled>MenuType</option>
        <option value="american">American</option>
        <option value="mexican">Mexican</option>
        <option value="italian">Italian</option>
        <option value="chinese">Chinese</option>
        <option value="thai">Thai</option>
    </select>
    <input type="text" value="{{address}}" name="restaurantAddress"/>
    <input type="number" value="{{rating}}" name="restaurantRating"/>
    <input type="hidden" value="{{id}}" name="id"/>
    <button type="submit">Submit</button>
</form>
{{/editRestaurant}}
</body>
</html>